header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  img {
    height: 40px;
  }
  nav {
    width: 100%;
  }
}

.dropdown {
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -40%;
  }
}

footer ul {
  list-style: none;
  a {
    text-decoration: none;
    color: inherit;
  }
}
